### 1. Creating an Empty DataFrame

In [2]:
### An empty DataFrame can be created using pd.DataFrame().

import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

### 2. Creating a DataFrame from a List

In [12]:
# We can create a DataFrame by passing a list.

# Example 1: Single Column
import pandas as pd
data = [1, 2, 3, 4, 5]
df = pd.DataFrame(data)
print(df)
# Example 2: List of Lists (Multiple Columns)
import pandas as pd
data = [['Alex', 10], ['Bob', 12], ['Clarke', 13]]
df = pd.DataFrame(data, columns=['Name', 'Age'])
print(df)
# Example 3: Specifying Data Type
import pandas as pd

data = [['Alex', 10], ['Bob', 12], ['Clarke', 13]]
df = pd.DataFrame(data, columns=['Name', 'Age'])

# Convert 'Age' column to float
df['Age'] = df['Age'].astype(float)

print(df)

   0
0  1
1  2
2  3
3  4
4  5
     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13
     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

### 3. Creating a DataFrame from a Dictionary of Lists
#### A dictionary where keys represent column names and values represent column data.

In [4]:
# Example 1: Without Index
import pandas as pd
data = {'Name': ['Tom', 'Jack', 'Steve', 'Ricky'], 'Age': [28, 34, 29, 42]}
df = pd.DataFrame(data)
print(df)
# Example 2: With Custom Index
import pandas as pd
data = {'Name': ['Tom', 'Jack', 'Steve', 'Ricky'], 'Age': [28, 34, 29, 42]}
df = pd.DataFrame(data, index=['rank1', 'rank2', 'rank3', 'rank4'])
print(df)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42
        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

### 4. Creating a DataFrame from a List of Dictionaries
##### Each dictionary represents a row.

In [5]:
# Example 1: Default Index
import pandas as pd
data = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
print(df)
# Example 2: Custom Index
import pandas as pd
data = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data, index=['first', 'second'])
print(df)
# Example 3: Selecting Specific Columns
import pandas as pd
data = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
df1 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b'])
df2 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b1'])  # 'b1' is not in data, so it results in NaN
print(df1)
print(df2)

   a   b     c
0  1   2   NaN
1  5  10  20.0
        a   b     c
first   1   2   NaN
second  5  10  20.0
        a   b
first   1   2
second  5  10
        a  b1
first   1 NaN
second  5 NaN

### 5. Creating a DataFrame from a Dictionary of Series
#### Each key represents a column, and the values are Pandas Series.

In [6]:
import pandas as pd
d = {
    'one': pd.Series([1, 2, 3], index=['a', 'b', 'c']),
    'two': pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
}
df = pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

### 6. Column Operations
#### Selection of a Column

In [7]:
print(df['one'])  # Selecting column 'one'
# Adding a New Column
df['three'] = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
df['four'] = df['one'] + df['three']
print(df)
## Deleting a Column
## Using del:
del df['one']
print(df)
## Using pop():
df.pop('two')
print(df)

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN
   two  three  four
a    1   10.0  11.0
b    2   20.0  22.0
c    3   30.0  33.0
d    4    NaN   NaN
   three  four
a   10.0  11.0
b   20.0  22.0
c   30.0  33.0
d    NaN   NaN

### 7. Row Operations
#### Selecting Rows
#### Selection by Label (loc)

In [11]:
print(df.loc['b'])  # Selecting row 'b'
# Selection by Integer Location (iloc)

print(df.iloc[2])  # Selecting the third row (index 2)
# Slicing Rows
print(df[2:4])  # Selecting rows from index 2 to 3
# Adding Rows
# Using append(): or concatenate
import pandas as pd

df1 = pd.DataFrame([[1, 2], [3, 4]], columns=['a', 'b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns=['a', 'b'])

# Use pd.concat() instead of append
df = pd.concat([df1, df2], ignore_index=True)

print(df)
# Deleting Rows
# Using drop():
df = df.drop(0)  # Drops rows with index 0
print(df)

three    20.0
four     22.0
Name: b, dtype: float64
three    30.0
four     33.0
Name: c, dtype: float64
   three  four
c   30.0  33.0
d    NaN   NaN
   a  b
0  1  2
1  3  4
2  5  6
3  7  8
   a  b
1  3  4
2  5  6
3  7  8