Concatenating DataFrames: This merges the two DataFrames one and two along the rows (default behavior).

In [1]:
### Concatenating Objects

import pandas as pd

# Create DataFrames
one = pd.DataFrame({
   'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
   'subject_id':['sub1','sub2','sub4','sub6','sub5'],
   'Marks_scored':[98,90,87,69,78]},
   index=[1,2,3,4,5])

two = pd.DataFrame({
   'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
   'subject_id':['sub2','sub4','sub3','sub6','sub5'],
   'Marks_scored':[89,80,79,97,88]},
   index=[1,2,3,4,5])

# Concatenate two DataFrames
print(pd.concat([one, two]))

     Name subject_id  Marks_scored
1    Alex       sub1            98
2     Amy       sub2            90
3   Allen       sub4            87
4   Alice       sub6            69
5  Ayoung       sub5            78
1   Billy       sub2            89
2   Brian       sub4            80
3    Bran       sub3            79
4   Bryce       sub6            97
5   Betty       sub5            88

In [3]:
# Concatenate two DataFrames with Keys for hierarchical indexing
print(pd.concat([one, two], keys=['x', 'y']))
### Adding Keys: The keys parameter assigns labels ('x' and 'y') for the concatenated DataFrames, 
# allowing hierarchical indexing.

       Name subject_id  Marks_scored
x 1    Alex       sub1            98
  2     Amy       sub2            90
  3   Allen       sub4            87
  4   Alice       sub6            69
  5  Ayoung       sub5            78
y 1   Billy       sub2            89
  2   Brian       sub4            80
  3    Bran       sub3            79
  4   Bryce       sub6            97
  5   Betty       sub5            88

In [4]:
# Concatenate two DataFrames, ignoring the index and resetting it
print(pd.concat([one, two], keys=['x', 'y'], ignore_index=True))

### Ignore Index: The ignore_index=True resets the index in the result, instead of keeping the original indices from
## the DataFrames.

     Name subject_id  Marks_scored
0    Alex       sub1            98
1     Amy       sub2            90
2   Allen       sub4            87
3   Alice       sub6            69
4  Ayoung       sub5            78
5   Billy       sub2            89
6   Brian       sub4            80
7    Bran       sub3            79
8   Bryce       sub6            97
9   Betty       sub5            88

In [5]:
# Concatenate two DataFrames along columns (axis=1)
print(pd.concat([one, two], axis=1))
#### Concatenating along columns: This merges the DataFrames side by side (axis=1), 
# combining columns instead of rows.

     Name subject_id  Marks_scored   Name subject_id  Marks_scored
1    Alex       sub1            98  Billy       sub2            89
2     Amy       sub2            90  Brian       sub4            80
3   Allen       sub4            87   Bran       sub3            79
4   Alice       sub6            69  Bryce       sub6            97
5  Ayoung       sub5            78  Betty       sub5            88

In [ ]:
### ### Concatenating Using append

import pandas as pd

# Define two DataFrames
one = pd.DataFrame({
    'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
    'subject_id': ['sub1', 'sub2', 'sub4', 'sub6', 'sub5'],
    'Marks_scored': [98, 90, 87, 69, 78]
}, index=[1, 2, 3, 4, 5])

two = pd.DataFrame({
    'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
    'subject_id': ['sub2', 'sub4', 'sub3', 'sub6', 'sub5'],
    'Marks_scored': [89, 80, 79, 97, 88]
}, index=[1, 2, 3, 4, 5])

# Use pd.concat() to append one DataFrame to another
result = pd.concat([one, two], ignore_index=True)

print("Concatenated DataFrame:")
print(result)

Concatenated DataFrame:
     Name subject_id  Marks_scored
0    Alex       sub1            98
1     Amy       sub2            90
2   Allen       sub4            87
3   Alice       sub6            69
4  Ayoung       sub5            78
5   Billy       sub2            89
6   Brian       sub4            80
7    Bran       sub3            79
8   Bryce       sub6            97
9   Betty       sub5            88

In [24]:

# Append one DataFrame to another
import pandas as pd

# Create the first DataFrame
one = pd.DataFrame({
    'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
    'subject_id': ['sub1', 'sub2', 'sub4', 'sub6', 'sub5'],
    'Marks_scored': [98, 90, 87, 69, 78]
})

# Create the second DataFrame
two = pd.DataFrame({
    'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
    'subject_id': ['sub2', 'sub4', 'sub3', 'sub6', 'sub5'],
    'Marks_scored': [89, 80, 79, 97, 88]
})

# Append one DataFrame to another using pd.concat
result = pd.concat([one, two], ignore_index=True)

print("Appended DataFrame:")
print(result)

Appended DataFrame:
     Name subject_id  Marks_scored
0    Alex       sub1            98
1     Amy       sub2            90
2   Allen       sub4            87
3   Alice       sub6            69
4  Ayoung       sub5            78
5   Billy       sub2            89
6   Brian       sub4            80
7    Bran       sub3            79
8   Bryce       sub6            97
9   Betty       sub5            88

In [12]:
### Time Series
### Create a TimeStamp
import pandas as pd

# Create a Timestamp object
print(pd.Timestamp('2017-03-01'))

### Timestamp: Creates a Timestamp object representing a specific date and time.

import pandas as pd

# Create a Timestamp from Unix time
print(pd.Timestamp(1587687255, unit='s'))
### Unix Time to Timestamp: Converts Unix time (seconds since the Unix epoch) into a Timestamp.

2017-03-01 00:00:00
2020-04-24 00:14:15

In [14]:
### Create a Range of Time
import pandas as pd

# Generate a range of times with a 30-minute frequency
print(pd.date_range("11:00", "13:30", freq="30min").time)
### Time Range: This creates a range of times from 11:00 AM to 1:30 PM with a frequency of 30 minutes.
### Change the Frequency of Time
import pandas as pd

# Generate a range of times with an hourly frequency
print(pd.date_range("11:00", "13:30", freq="H").time)
### Hourly Time Range: This generates a range of times from 11:00 AM to 1:30 PM, with an hourly frequency.

[datetime.time(11, 0) datetime.time(11, 30) datetime.time(12, 0)
 datetime.time(12, 30) datetime.time(13, 0) datetime.time(13, 30)]
[datetime.time(11, 0) datetime.time(12, 0) datetime.time(13, 0)]

C:\Users\ALR\AppData\Local\Temp\ipykernel_15636\1898905176.py:11: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  print(pd.date_range("11:00", "13:30", freq="H").time)

In [21]:
import pandas as pd

# Convert a Series of date strings to Timestamps
# Allow pandas to infer mixed date formats
print(pd.to_datetime(pd.Series(['Jul 31, 2009', '2010-01-10', None]), errors='coerce'))

0   2009-07-31
1          NaT
2          NaT
dtype: datetime64[ns]

In [22]:
import pandas as pd

# Convert multiple date formats into Timestamps
# Allow pandas to handle mixed formats
print(pd.to_datetime(['2005/11/23', '2010.12.31', None], errors='coerce'))

DatetimeIndex(['2005-11-23', 'NaT', 'NaT'], dtype='datetime64[ns]', freq=None)